Repository mendersoftware/mender-server: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

Path conditions:
  build:backend:docker: any of: backend/**/*
  build:backend:docker-acceptance: any of: backend/**/*
  test:backend:static: any of: backend/**/*.go
  test:backend:unit: any of: backend/**/*.go
  test:backend:acceptance: any of: backend/**/*
  test:backend:integration: any of: backend/**/*
  publish:backend:coverage: any of: backend/**/*
  publish:backend:licenses: any of: backend/**/*

fix(gui): aligned auditlog spelling with rest in rbac settings
  frontend/src/js/components/settings/role-management/__snapshots__/roledefinition.test.js.snap
  frontend/src/js/store/usersSlice/constants.ts
  frontend/tests/mockData.js
Due: none

feat(gui): updated billing section in My Organization settings
  frontend/src/js/common-ui/forms/CountrySelect.tsx
  frontend/src/js/components/settings/CardSection.tsx
  frontend/src/js/components/settings/PlanExpanded.tsx
  frontend/src/js/components/settings/PlanExpandedForm.tsx
  frontend/src/js/components/settings/Upgrade.tsx
  frontend/src/js/components/settings/organization/Billing.tsx
  frontend/src/js/components/settings/organization/OrganizationPaymentSettings.tsx
  frontend/src/js/components/settings/organization/organization.js
  frontend/src/js/components/settings/organization/organizationpaymentsettings.js
  frontend/src/js/components/settings/organization/organizationpaymentsettings.test.js
  frontend/src/js/store/organizationSlice/index.ts
  frontend/src/js/store/organizationSlice/selectors.ts
  frontend/src/js/store/organizationSlice/thunks.ts
  frontend/src/js/store/organizationSlice/types.ts
  frontend/src/less/main.less
Due: none

chore(gui): aligned tests with edit billing profile
  frontend/src/js/components/settings/CardSection.test.js
  frontend/src/js/components/settings/__snapshots__/CardSection.test.js.snap
  frontend/src/js/components/settings/organization/OrganizationPaymentSettings.test.js
  frontend/src/js/components/settings/organization/__snapshots__/OrganizationPaymentSettings.test.js.snap
  frontend/src/js/components/settings/organization/__snapshots__/organization.test.js.snap
  frontend/src/js/components/settings/organization/__snapshots__/organizationpaymentsettings.test.js.snap
  frontend/src/js/components/settings/organization/organization.test.js
  frontend/src/js/store/storehooks.test.tsx
  frontend/tests/__mocks__/organizationHandlers.js
Due: none

fix: stop user from having similar email and password
  backend/services/useradm/api/http/api_useradm.go
  backend/services/useradm/user/useradm.go
  backend/services/useradm/user/useradm_test.go
  backend/services/useradm/utils/similar_checker.go
  backend/services/useradm/utils/similar_checker_test.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: git cliff prepend unreleased
  .gitlab-ci.yml
Due: none

fix(gui): removed effect that caused unwanted state modifications
  frontend/src/js/components/auditlogs/auditlogs.js
Due: none

fix: implement signal handler for `server` commands
  backend/services/deployments/server.go
  backend/services/deviceauth/server.go
  backend/services/inventory/server.go
  backend/services/useradm/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(e2e-tests): updated artifact version in fixtures
  frontend/tests/e2e_tests/fixtures/fixtures.ts
Due: none

fix(gui): addressed timestamp filter issue in audit logs
  frontend/src/js/store/organizationSlice/thunks.ts
Due: none

chore: Format deployments integration tests
  backend/tests/integration/tests/test_deployments.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: Fix integration test for enterprise
  backend/tests/integration/tests/test_deployments.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore(main): release 4.0.0-rc.4
  .release-please-manifest.json
  CHANGELOG.md
Due: none

ci: ignore own license
  .gitlab-ci.yml
Due: none

ci: only prepend changelog
  .gitlab-ci.yml
Due: none

ci: Ignore our own license when publishing 3rd party licenses
  .gitlab-ci.yml
Due: none

fix: implement signal handler for `server` commands
  backend/services/deployments/server.go
  backend/services/deviceauth/server.go
  backend/services/deviceconfig/server/server.go
  backend/services/deviceconnect/server/server.go
  backend/services/inventory/server.go
  backend/services/iot-manager/server/server.go
  backend/services/reporting/app/server/server.go
  backend/services/useradm/server.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

ci: always checkout changelog before modify it
  .gitlab-ci.yml
Due: none

ci: Use release please manifest for setting the changelog tag
  .gitlab-ci.yml
Due: none

chore: Add config override for resetting git.skip_tags
  .gitlab-ci.yml
Due: none

ci: Use HEAD as reference for hard resetting release-please changelog
  .gitlab-ci.yml
Due: none

feat(gui): switched to pragmatic-drag-and-drop from deprecated react-beautiful-dnd
  frontend/package-lock.json
  frontend/package.json
  frontend/src/js/components/devices/dialogs/__snapshots__/custom-columns-dialog-content.test.js.snap
  frontend/src/js/components/devices/dialogs/custom-columns-dialog-content.js
  frontend/src/less/main.less
  frontend/tests/licenses/directDependencies.csv
Due: none

ci: start changelog from CI_COMMIT_REF_NAME
  .gitlab-ci.yml
Due: none

chore(main): release 4.0.0-rc.5
  .release-please-manifest.json
  CHANGELOG.md
Due: none

test: client compat migrated to backend integration tests and fixes.
  backend/tests/Dockerfile.integration
  backend/tests/docker-compose.yml
  backend/tests/integration/docker/docker-compose.backend-tests-compat.yml
  backend/tests/integration/run
  backend/tests/integration/tests/data/date.mender
  backend/tests/integration/tests/run.sh
  backend/tests/integration/tests/test_compat+separate.py
  backend/tests/integration/tests/testutils/infra/container_manager/docker_compose_base_manager.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

test: client compat migrated to backend integration tests and fixes.
  backend/tests/Dockerfile.integration
  backend/tests/docker-compose.yml
  backend/tests/integration/README.md
  backend/tests/integration/docker/docker-compose.backend-tests-compat.yml
  backend/tests/integration/run
  backend/tests/integration/tests/data/date.mender
  backend/tests/integration/tests/run.sh
  backend/tests/integration/tests/test_compat+separate.py
  backend/tests/integration/tests/testutils/infra/container_manager/docker_compose_base_manager.py
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: discover docker compose in backend integration tests run
  backend/tests/integration/run
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

fix(gui): fixed card details update functionality
  frontend/src/js/components/settings/PlanExpanded.tsx
  frontend/src/js/components/settings/cardsection.js
  frontend/src/js/components/settings/organization/organizationpaymentsettings.js
Due: none

chore(main): release 4.0.0-rc.6
  .release-please-manifest.json
  CHANGELOG.md
Due: none

fix: Deployment device count should not exceed max devices
  backend/services/deployments/app/app.go
Due: build:backend:docker, build:backend:docker-acceptance, test:backend:static, test:backend:unit, test:backend:acceptance, test:backend:integration, publish:backend:coverage, publish:backend:licenses

chore: moved build to rspack from webpack
  frontend/package-lock.json
  frontend/package.json
  frontend/rspack.config.js
Due: none

chore: got rid of heavy crypto browserify package
  frontend/package-lock.json
  frontend/package.json
  frontend/rspack.config.js
  frontend/src/js/common-ui/forms/passwordinput.js
  frontend/tests/licenses/directDependencies.csv
Due: none

chore(gui): added gzip compression step to bundle build
  frontend/.eslintrc.cjs
  frontend/httpd.conf
  frontend/package-lock.json
  frontend/package.json
  frontend/rspack.config.js
  frontend/tests/licenses/directDependencies.csv
Due: none

chore(gui): removed webpack dependencies
  frontend/package-lock.json
  frontend/package.json
  frontend/rspack.config.js
Due: none

fix(gui): made a workaround for missing device list attributes issue
  frontend/src/js/common-ui/deviceidentity.js
  frontend/src/js/components/devices/__snapshots__/authorized-devices.test.js.snap
  frontend/src/js/components/devices/authorized-devices.js
  frontend/src/js/components/devices/devicelistitem.js
Due: none
